<header class="d-flex justify-content-between align-items-center">
  <h1 class="logo" [routerLink]="ROUTER_LINKS.CLIENTS">Cool pool</h1>
  <nav class="header-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.CLIENTS">Клиенты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.EMPLOYEES">Cотрудники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.POOLS">Бассейны</a>
      </li>
    </ul>
  </nav>
</header>
