<h1 class="text-center">{{pageTitle}}</h1>
<div class="container text-center">
  <div class="row" [ngSwitch]="catalogType">
    <ng-template ngSwitchCase="employees">
      <div *ngFor="let employee of employeesList" class="col-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img [src]="employee?.img" alt="Фото сотрудника" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" [routerLink]="employee.id">{{employee.name}} {{employee.surname}}</h5>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-primary" (click)="edit(employee)">Редактировать</button>
              <button class="btn btn-danger" (click)="delete(employee.id)">Удалить</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="ROUTER_LINKS.ADD + '/employee'" class="btn btn-success ms-2 add">+</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="pools">
      <div *ngFor="let pool of pools" class="col-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img [src]="pool?.img" alt="Фото бассейна" class="card-img-top">
          <div class="card-body">
            <p>Адресс: {{pool.address}}</p>
            <h5 class="card-title">с {{ pool.openTime.slice(0, 5) }} до {{ pool.closeTime.slice(0, 5) }}</h5>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-primary" (click)="edit(pool)">Редактировать</button>
              <button class="btn btn-danger" (click)="delete(pool.id)">Удалить</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="ROUTER_LINKS.ADD + '/pool'" class="btn btn-success ms-2 add">+</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="clients">
      <div *ngFor="let client of clients" class="col-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img [src]="client?.img" alt="Аватар" class="card-img-top">
          <div class="card-body">
            <h5 [routerLink]="client.id" (click)="select(client)" class="card-title">{{client.name}}</h5>
            <p>{{client.description}}</p>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-primary" (click)="edit(client)">Редактировать</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="ROUTER_LINKS.ADD + '/client'" class="btn btn-success ms-2 add">+</button>
      </div>
    </ng-template>
  </div>
</div>
